# create# Ignore Visual Studio files
        #.vs/
        #*.vspscc
        #*.vssscc
        #*.user
        #*.userosscache
        #*.suo
        #*.userprefs
        #*.dbd by virtualenv automatically
# Ignore lab1 and .idea
lab_1/
.idea/

