# create# Ignore Visual Studio files
        #.vs/
        #*.vspscc
        #*.vssscc
        #*.user
        #*.userosscache
        #*.suo
        #*.userprefs
        #*.dbd by virtualenv automatically

lab_1/
.idea/

